<div class="container">
  <h1>Soapbox</h1>

  <p>What is SoapBox? To start, it's going to be an online <a href="https://en.wikipedia.org/wiki/Create,_read,_update_and_delete">CRUD</a> for political opinions. Have you seen something on the news or read an article about something, and formed an opinion that you want to explore? This site is for you. Once we've got that down, it will add a finite list of community generated opinions that people can be for or against. All users will be required to register with their political variables such as age, race, postal code, last years income, etc.. Access to anonomysed database information will be open for anyone to review the demographics of the people who support each public opinion. We want to find the most commonly supported opinions, and be able to say with certainty that real people back those opinions.</p>

  <p>The principle behind the site is this. If we come together as a people, we can steer the course of the political conversation. Democracy is about participation from everyone, so lets use the internet to make it easy to contribute to the topics you are passionate about.</p>

</div>
